#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

UPSTREAM_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ' | cut -f 1 -d '-')
NAME := rt5572usb

%:
	dh $@ --with dkms

override_dh_install:
	dh_install
	mkdir -p $(CURDIR)/debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/
	cp -r $(CURDIR)/chips/ debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/
	cp -r $(CURDIR)/common/ debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/
	cp -r $(CURDIR)/include/ debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/
	cp -r $(CURDIR)/os/ debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/
	cp -r $(CURDIR)/rate_ctrl/ debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/
	cp -r $(CURDIR)/sta/ debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/
	cp -r $(CURDIR)/tools/ debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/
	cp -r $(CURDIR)/*.dat debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/
	cp -r $(CURDIR)/*.txt debian/$(NAME)-dkms/usr/src/$(NAME)-$(UPSTREAM_VERSION)/

override_dh_dkms:
	dh_dkms -V $(UPSTREAM_VERSION)
